.fee:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.fees {
    display: flex;
    /* justify-content: space-between; */
}

.fee {
    flex: 1;
    width: 15%;
    height: 80px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.fee h5 {
    color: #6699ff;
    margin-left: 30px;
}

.icon-container {
    position: relative;
}

.bi-check-circle-fill {
    position: absolute;
}