<br>
<div class="card-body">

    <div class="row">

        <div class="col-3" *ngFor="let client of clients" routerLinkActive="active" routerLink="/milestone" (click)="selectClient(client.name)">

            <div class="clientname">




                <div class="client">

                    <div class="icon-container">
                        <i class="bi bi-check-circle-fill" width="30" height="50"></i>
                    </div>
                    <h5>{{ client.name }}</h5>

                </div>


            </div>
            <br>
        </div>
    </div>
</div>