.card {
    width: 1500px;
    height: 200px;
    margin-left: 70px;
}

.feeSchedule {
    background-color: #e6eeff;
    width: 190px;
    border-radius: 5px;
}

.fee:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.fees {
    display: flex;
}

.fee {
    /* flex: 1; */
    background-color: white;
    padding: 20px;
    width: 220px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.fee h5 {
    margin-left: 30px;
    color: #6699ff;
}

.icon-container {
    position: relative;
}

.bi-check-circle-fill {
    position: absolute;
}