<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <img src="https://beta-feeschedule.outamationlabs.com/assets/images/a360inc-logo.png">

                </li>
                <li class="nav-item">
                    <h4 style="color:#6699ff"> | Fee Schedule</h4>


                </li>
                <li>
                    <div class="container">
                        <button class="btn"><i class="bi bi-fullscreen" (click)="toggleFullScreen()"></i></button>


                    </div>
                </li>

            </ul>



        </div>
    </div>
</nav>
<br>
<br>