<div class="card-body">

    <br>
    <div class="fees">
        <div class="fee">
            <div class="icon-container">

                <i class="bi bi-check-circle-fill" width="30" height="50"></i>
            </div>
            <h5 routerLinkActive="active" routerLink="/fnma" style="margin-left: 15%;">FNMA</h5>

        </div>
        <div class="fee">
            <div class="icon-container">

                <i class="bi bi-check-circle-fill" width="30" height="50"></i>
            </div>

            <h5 routerLinkActive="active" routerLink="/fnam">FHLMC</h5>

        </div>
        <div class="fee">
            <div class="icon-container">

                <i class="bi bi-check-circle-fill" width="30" height="50"></i>
            </div>

            <h5 routerLinkActive="active" routerLink="/fnma">Other</h5>

        </div>
        <div class="fee">
            <div class="icon-container">

                <i class="bi bi-check-circle-fill" width="30" height="50"></i>
            </div>

            <h5 routerLinkActive="active" routerLink="/fnam">None</h5>

        </div>

    </div>

</div>