.feeSchedule {
    background-color: #e6eeff;
    width: 190px;
    border-radius: 5px;
}

h5 {
    text-align: center;
    color: #6699ff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.fees {
    display: flex;
    width: auto;
    /* justify-content: space-between; */
}

.fee {
    width: 15%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.fee h5 {
    text-align: center;
}

.icon-container {
    position: relative;
}

.fee:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.bi-check-circle-fill {
    position: absolute;
}