    body {
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    .dilcard {
        width: 1200px;
    }
    
    .container {
        display: flex;
        position: absolute;
        height: 100vh;
    }
    
    .card {
        margin-left: 5%;
    }
    
    .toggle {
        display: flex;
        justify-content: flex-end;
        width: 1000px;
    }
    
    .content {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    
    .navbar {
        background-color: #f8f9fa;
        padding: 10px;
        width: 120%;
        margin-left: 30px;
    }
    
    .app-vertical-navbar {
        width: 200px;
        height: 100vh;
        transition: width 0.3s;
        position: absolute;
        top: 0;
        right: 0;
    }
    
    img {
        width: 100px;
        height: 30px;
    }
    
    .content {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    
    .app-search span.search-widget-icon {
        position: absolute;
        z-index: 10;
        font-size: 18px;
        line-height: 38px;
        left: 13px;
        top: 0;
        color: #878a99;
    }