<br>

<div class="card-body">
    <div class="row">
        <div class="col-3" *ngFor="let foretype of foretypes" routerLinkActive="active" routerLink="/loan" (click)="selectForeClosure(foretype.name)">
            <!-- (click)="selectState(state.name)" -->
            <div class="milestone">
                <div class="mile">
                    <div class="icon-container">
                        <i class="bi bi-check-circle-fill" width="30" height="50"></i>
                    </div>
                    <h5> {{ foretype.name }}</h5>

                </div>
            </div>
        </div>
    </div>